[mysqld]
bind-address=0.0.0.0
port=3306
max_connections=100
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
connect_timeout=30
log_error=/var/log/mysql/error.log
general_log=1
general_log_file=/var/log/mysql/general.log
key_buffer_size=32M
query_cache_type=1
query_cache_limit=2M
query_cache_size=64M
innodb_buffer_pool_size=256M
innodb_log_file_size=64M